/app2/.phpunit.cache
/app2/node_modules
/app2/public/build
/app2/public/hot
/app2/public/storage
/app2/storage/*.key
/app2/.env
/app2/.env.backup
/app2/.env.production
/app2/.env.example
/app2/Homestead.json
/app2/Homestead.yaml
/app2/auth.json
/app2/npm-debug.log
/app2/yarn-error.log
/app2/.fleet
/app2/.idea
/.vscode
/app2/node_modules
/app2/data/*
/data/*