:root {
    --gray: #d9d9d9;
    --red: #7C0023;
}

body {
    height: 100%;
    overflow-x: hidden;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    text-align: center;
}

.navbar-nav .nav-link.active {
    color: white !important;
    background-color: #406767 !important;
}

.buscador {
    height: 100vh;
}

.navbar-principal {
    height: 4.5rem;
}

.navbar-movil {
    display: none !important;

}

#movilBoton {
    display: none !important;
}

@media (max-width: 768px) {

    .contenido {
        display: none;
    }

    .contenido.activo {
        display: block;
    }

    .navbar-principal {
        display: none;
        visibility: hidden;
    }

    .navbar-movil {
        display: block !important;
        height: 4.5rem !important;
    }

    .buscador {
        height: 92.4vh;
    }

    header {
        height: 0;
    }

    #movilBoton {
        display: block !important;
        position: fixed;
        top: 10px;
        right: 10px;
    }
}

/*PORTADA DE LA APP*/

#introDiv {
    position: absolute;
    background-color: var(--gray);
    height: 100vh;
    width: 40%;
    margin-left: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logoDiv {
    display: flex;
    flex-direction: row;
}

#textPart {
    width: 60%;
    text-align: center;
}

.buttonWidth {
    width: 170px;
}

#logo1 img {
    height: 5.5rem;
}

#logo2 img {
    height: 5rem;
}

.whiteButton {
    background-color: white;
    color: var(--red);
}

#imagenPortada {
    display: block;
    z-index: -1;
    height: 100vh;
}

/* PÁGINAS DE REGISTRO E INICIO DE SESIÓN */
.registerDiv {
    width: 30%;
}

.registerDiv img {
    width: 70%; /* Set a smaller width, adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below the image */

}

.roleButton {
    height: 12rem;
    width: 9rem;
    margin: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(80, 80, 80, 0.089);
}

.roleButton .roleIcon {
    width: 60px;
    padding-top: 6px;
}


#roleIconM:hover{
    border: solid #406767 6px;
}


#roleIconL:hover {
    border: solid #7C0023 6px;
}

