:root {
    --gray: #d9d9d9;
    --red: #7C0023;
}

body {
    height: 100%;
    overflow-x: hidden;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-link.active {
    color: white !important;
    background-color: #406767 !important;
}

.buscador {
    height: 100vh;
}

.navbar-principal {
    height: 4.5rem;
}

.navbar-movil {
    display: none !important;

}

#movilBoton {
    display: none !important;
}

@media (max-width: 768px) {

    .contenido {
        display: none;
    }

    .contenido.activo {
        display: block;
    }

    .navbar-principal {
        display: none;
        visibility: hidden;
    }

    .navbar-movil {
        display: block !important;
        height: 4.5rem !important;
    }

    .buscador {
        height: 92.4vh;
    }

    header {
        height: 0;
    }

    #movilBoton {
        display: block !important;
        position: fixed;
        top: 10px;
        right: 10px;
    }
}

/*PORTADA DE LA APP  ########################################################*/
#introDiv {
    position: absolute;
    background-color: var(--gray);
    height: 100vh;
    width: 40%;
    margin-left: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introContentDiv {
    width: 90%;
}

#logoDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#logoDiv img {
    height: 7rem;
}

#textPart {
    width: 60%;
    text-align: center;
}

.buttonWidth {
    width: 170px;
}

.whiteButton {
    background-color: white;
    color: var(--red);
}

#backgroundImg {
    background-image: url('/public/images/imagen_portada.png');
    width: 100vh;
}

/* PÁGINAS DE REGISTRO E INICIO DE SESIÓN ########################################################*/
.registerDiv {
    width: 30%;
}

.registerLogo {
    width: 25rem;
    margin-bottom: 2rem;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roleButton {
    height: 12rem;
    padding: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.075);
}

.roleIcon {
    height: 10rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roleButton .roleIcon {
    width: auto;
    display: flex;
}

#buttonMusico {
    content:url("/public/images/icono_musico.png");
}

#buttonLocal {
    content:url("/public/images/icono_local.png");
}

#buttonMusico:hover, .btn-check:checked + #buttonMusico {
    outline: 3px solid #406767;
    content:url("/public/images/icono_musico_color.png");
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.075);

}

#buttonLocal:hover, .btn-check:checked + #buttonLocal {
    outline: 3px solid #7C0023;
    content:url("/public/images/icono_local_color.png");
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.075);
}

/* PERFIL ########################################################*/

.banner {
    background-color: gray;
    height: 30rem;
    margin-top: 5rem;
}

.profilePic {
    background-color: #406767;
    height: 10rem;
    width: 10rem;
}

.profileName {
    background-color: aqua;
}
