:root {
    --green: #406767;
    --red: #7C0023;
    --gray: #d9d9d9;
    --beige: #CEAC91;
}
body{
    overflow-x: hidden;
}

body {
    height: 100%;
    overflow-x: hidden;
}

#app {
    height: 100vh;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-link.active {
    color: white !important;
    background-color: var(--green) !important;
}

.buscador {
    height: 100vh;
}

.navbar-principal {
    height: 4.5rem;
}

.navbar-movil {
    display: none !important;

}

#movilBoton {
    display: none !important;
}

@media (max-width: 768px) {

    .contenido {
        display: none;
    }

    .contenido.activo {
        display: block;
    }

    .navbar-principal {
        display: none;
        visibility: hidden;
    }

    .navbar-movil {
        display: block !important;
        height: 4.5rem !important;
    }

    .buscador {
        height: 92.4vh;
    }

    header {
        height: 0;
    }

    #movilBoton {
        display: block !important;
        position: fixed;
        top: 10px;
        right: 10px;
    }
}

/*PORTADA DE LA APP  ########################################################*/
#introDiv {
    position: absolute;
    background-color: var(--gray);
    height: 100vh;
    width: 40%;
    margin-left: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introContentDiv {
    width: 90%;
}

#logoDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#logoDiv img {
    height: 7rem;
}

#textPart {
    width: 60%;
    text-align: center;
}

.buttonWidth {
    width: 170px;
}

.whiteButton {
    background-color: white;
    color: var(--red);
}

#backgroundImg {
<<<<<<< Updated upstream
    background-image: url('/public/images/imagen_portada.jpg');
    background-size: sover;
=======
    background-image: url('/public/images/imagen_portada2.jpg');
    background-size: cover;
    width: 100%;

>>>>>>> Stashed changes
}

/* PÁGINAS DE REGISTRO E INICIO DE SESIÓN ########################################################*/
.registerDiv {
    width: 30%;
}

.registerLogo {
    width: 25rem;
    margin-bottom: 2rem;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roleButton {
    height: 12rem;
    padding: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.075);
}

.roleIcon {
    height: 10rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roleButton .roleIcon {
    width: auto;
    display: flex;
}

#buttonMusico {
    content:url("/public/images/icono_musico.png");
}

#buttonLocal {
    content:url("/public/images/icono_local.png");
}

#buttonMusico:hover, .btn-check:checked + #buttonMusico {
    outline: 3px solid #406767;
    content:url("/public/images/icono_musico_color.png");
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.075);

}

#buttonLocal:hover, .btn-check:checked + #buttonLocal {
    outline: 3px solid #7C0023;
    content:url("/public/images/icono_local_color.png");
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.075);
}

/* PERFIL ########################################################*/

.banner {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 30rem;
    margin-top: 4rem;
}

.bannerPic {
    position: absolute;
    object-fit: cover;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bannerContent {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 8px var(--red);
}

.profilePicDivBg {
    width: 18rem;
    height: 18rem;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.profilePicDiv {
    position: absolute;
    overflow: hidden;
    background-color: white;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 99%;
}

.profilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.redText {
    color: var(--red);
}

.musicPlayer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 60%;
    border: 2px solid var(--beige);

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F3F4;
}

.songTitle {
    align-self: flex-start;
    margin-left: 1.5rem;
}

.musicPlayer p {
    margin-bottom: 0;
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-weight: 600;
}

.musicPlayer audio {
    width: 95%;
}

/* GALLERY ************************************************************************************ */

#mz-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#mz-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 70px);
  height: calc(100% - 50px);
  height: 30rem;
  width: 100%;
  background-color: white;
  outline-offset: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 0 0 55px;
  scroll-behavior: smooth;
  /* firefox scrollbar */
  scrollbar-color: #c2c2c2 var(--gray);
  scrollbar-width: auto;

}

@keyframes background {
  0% {
    background-position: -300% 100%;
  }
  100% {
    background-position: 100% -300%;
  }
}

#mz-gallery::-webkit-scrollbar {
  height: 25px;
}

#mz-gallery::-webkit-scrollbar-track {
  background: transparent;
}

#mz-gallery::-webkit-scrollbar-thumb {
  background: #666;
}

#mz-gallery::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#mz-gallery::-webkit-scrollbar-thumb:active {
  background: #444;
}

#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 25px;
  width: 80px;
  background-color: lawngreen;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z'/%3E%3Cpath fill-rule='evenodd' d='M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z'/%3E%3C/svg%3E");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 25px;
  width: 80px;
  background-color: lawngreen;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z'/%3E%3Cpath fill-rule='evenodd' d='M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z'/%3E%3C/svg%3E");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:decrement:hover,
#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-color: #59b500;
}

#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:decrement:active,
#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-color: #3d7d00;
}

#mz-gallery figure {
  position: relative;
  margin: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: auto;
  min-height: 100px;
  margin-right: 60px;
  scroll-snap-align: start;
  transition: all 0.3s ease-in-out;
}

#mz-gallery figure:nth-child(1) {
  margin-left: 60px;
}

#mz-gallery figure div {
  position: absolute;
  width: 1%;
  height: 1%;
  background: transparent;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#mz-gallery figure img {
  height: 100%;
  width: auto;
  box-shadow: 10px 5px 5px var(--gray);
  border-radius: 5px;
  opacity: 0.9;
  filter: brightness(1);
  outline: 1px solid transparent;
  outline-offset: -40px;
  transition: all 0.3s ease-in-out;
}

#mz-gallery figure:hover img {
  height: calc(100% - 40px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#mz-gallery figure:hover {
  padding: 0px 20px;
}

#mz-gallery figure:hover div {
  width: 25%;
  height: 25%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1145px) {
  #mz-gallery figure {
    scroll-snap-align: center;
  }
  #mz-gallery {
    scroll-padding: 0px 0px 0px 0px !important;
  }
}

@media (max-width: 610px) {
  #mz-gallery {
    max-height: 320px;
  }
  #mz-gallery figure {
    margin-right: 20px;
  }
  #mz-gallery figure:nth-child(1) {
    margin-left: 20px;
  }
}

@media (max-height: 340px) {
  #mz-gallery {
    background-size: 30px 30px;
    scroll-padding: 0 0 0 28px;
  }
  #mz-gallery figure {
    margin-right: 30px;
  }
  #mz-gallery figure:nth-child(1) {
    margin-left: 30px;
  }
}

@media (max-height: 280px) {
  #mz-gallery::-webkit-scrollbar {
    height: 20px;
  }
  #mz-gallery::-webkit-scrollbar-button:single-button:horizontal:decrement,
  #mz-gallery::-webkit-scrollbar-button:single-button:horizontal:increment {
    width: 80px;
    height: 20px;
    background-size: 15px;
  }
}

@media (max-height: 230px) {
  #mz-gallery figure:hover img {
    outline-offset: 10px;
  }
}

@media (max-height: 165px) {
  #mz-gallery {
    scroll-padding: 0 0 0 18px;
    margin: 0px;
  }
  #mz-gallery figure {
    margin-right: 20px;
  }
  #mz-gallery figure:nth-child(1) {
    margin-left: 20px;
  }
}

/* touch screen devices */

@media (pointer: coarse) {
  #mz-gallery * {
    pointer-events: none;
  }
  #mz-gallery::-webkit-scrollbar {
    height: 35px;
  }
  #mz-gallery {
    scroll-snap-type: unset;
    scroll-padding: unset;
    scroll-behavior: unset;
  }
  #mz-gallery figure {
    scroll-snap-align: unset;
  }
}

/* GALLERY ************************************************************************************ */

/* ESTADÍSTICAS */
.estadisticasDiv {
    background-color: pink;
    height: 30rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}

.estadistica {
    background-color: #444;
    height: 20rem;
    width: 20rem;
    margin: 2rem;
}
